@import 'https://fonts.googleapis.com/css?family=Open+Sans';

* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
    line-height: 1.75em;
    font-size: 16px;
    background-color: #111;
    color: white;
    margin: 0;
}

p {
    font-size: 16px;
}

h1 {
    font-size: 30px;
    line-height: 34px;
    background-color: #1f77b4;
    padding: 20px;
    text-transform: uppercase;
}

h2 {
    font-size: 20px;
    line-height: 25px;
}

h3 {
    font-size: 16px;
    line-height: 27px;
    padding-top: 15px;
    padding-bottom: 15px;
    border-bottom: 1px solid #D8D8D8;
    border-top: 1px solid #D8D8D8;
}

hr {
    height: 1px;
    background-color: #d8d8d8;
    border: none;
    width: 100%;
    margin: 0px;
}

a[href] {
    color: #1e8ad6;
}

a[href]:hover {
    color: #3ba0e6;
}

img {
    max-width: 100%;
}

li {
    line-height: 1.5em;
}

table {
    border-collapse: collapse;
}

th {
    background-color: #555;
    color: white;
    font-size: 110%;
    text-transform: uppercase;
    letter-spacing: 2%;
}

table.tg {
    display: block;
    height: 250px;
}

table.tg tbody {
    display: block;
    overflow-y: auto;
    overflow-x: hidden;
    height: 100%;
}

table.tg tbody tr,
table.tg thead tr {
    display: table;
    width: 100%;
    table-layout: fixed;
}

table.tgb {
    position: absolute;
    bottom: 0;
    background-color: #555555;
}

p {
    margin: 5px;
}

#content {
    max-width: 1024px;
    margin: auto;
    border-left: solid 1px #1f77b4;
    border-right: solid 1px #1f77b4;
    min-height: 100%;
    background-color: #222;
}

hr {
    background-color: #1e8ad6;
    margin-top: 10px;
    margin-bottom: 10px;
    display: inline-block;
}

#input {
    float: left;
    font-size: 18px;
    width: 50%;
    padding-left: 5px;
    padding-right: 5px;
    height: 400px;
    position: relative;
}

#input input,
#input select {
    font-size: 18px;
    width: 80%;
    padding: 1px;
    text-align: center;
}

#input input[type=number] {
    width: 80px;
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
    opacity: .5;
    margin-left: -4px;
}

#input table td {
    padding: 2px;
    text-align: center;
    width: 175px;
}

input[type=button] {
    cursor: pointer;
    display: inline-block;
    padding: 5px;
    font-size: 18px;
    text-transform: uppercase;
}


#output {
    float: left;
    height: 400px;
    padding-left: 5px;
    padding-right: 5px;
    width: 50%;
}

#output #table {
    overflow-y: scroll;
    height: 90%;
}

#output #table table {

    margin-bottom: 10px;
    font-size: 70%;
}

#output #table td,
#output #table th {
    padding: 1px;
    border: 1px solid #555;
    text-align: center;
}

#plot {
    clear: both;
    margin: 10px;
}